body{
    background-color: rgb(155, 243, 243);
    margin: 0;
}
.conteiner{
    display:flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 10%;
   
}

.slider1{

   border: 5px solid black;
    max-width: 200px;

    max-height: 200px;
    overflow: hidden;
  
}

.slider-line{
    position: relative;
    display:flex;
    flex-direction: row;
    left: 0;
    transition: all ease 1s;
}
img{
   
    max-width: 200px;
    max-height: 200px;
}