.page {
    padding-left: 125px;
    display: -webkit-box;
    margin: 0px;
    background-color: #E5E5E5;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 50px;
    height: 900px;
    width: 1750px;
}

.emblem1 {
    width: 512px;
    height: 512px;
    background-color: #000000;

}

.vector {
    height: 181px;
    width: 309px;
    box-sizing: border-box;
    padding-top: 25.13%;
    padding-left: 14%;
}

.flag {
    height: 60px;
    width: 80px;
    padding-bottom: 21%;
    padding-top: 32%;
    padding-left: 39%;


}

.emblem2 {
    width: 512px;
    height: 512px;
    margin: 0 5%;
    background-color: #ffce22;

}

.glyph {
    position: relative;
    left: 10.27%;
    right: 11.6%;
    top: -48.39%;
    bottom: 34.99%;

}

.blue {
    height: 271.5px;
    width: 512px;
}



.emblem3 {

    width: 512px;
    height: 512px;
    background-color: white;
    position: relative;
}

.blu-1 {


    width: 444px;

}

.kruh {
    background-color: #ffce22;
    margin: 34px;
    width: 444px;
    height: 444px;
    border-radius: 50%;
}

.glyph-1 {
    position: relative;
    left: 10.27%;
    top: -25px;

}