body{
    background-color: bisque;
    margin: 0;
}



.card-comment{
    width: 60%;
    
    border: 1px solid black;
    background-color: aqua;
    padding: 2%;
    margin: 0 auto;
}

.card-comment > div{
    margin-bottom: 5%;
    background: aqua;
    overflow: hidden;
}

section{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
   flex-direction: column;
}

div.modal {
   width: 50%;
    height: 20%;
   border: 1px solid ;
    font-weight: bold;
    position: sticky;
    top: 50px;
    left: 25%;
    display: none;
}
div.modal{
    flex-direction: column;
    justify-content: space-evenly;
}

div.modal > div{
    padding: 1rem;
    background: white;
}