body {
    margin: 0;
    width: 100%;
    background:  linear-gradient(135deg, #4E7577 0%, #65D5FC 100%, #23445B 100%);
    font-family: 'Space Grotesk', sans-serif;

}

.page {

    max-width: 75%;

    margin: 1.5% auto;
}

.conteiner1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    
    margin: 0 auto;


}

.conteiner1_register {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    background: url(./img/Stroke\ 5.png) white no-repeat;

}


.conteiner1_register-logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    padding: 11px 0 0 32px;



    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;


}

.conteiner1_register-title {
    display: flex;
    justify-content: center;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding-top: 50px;


    color: #000000;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;


}

label,
input {
    inline-size: 180%;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;



    color: #000000;

}

.conteiner1_register-name,
.conteiner1_register-email,
.conteiner1_register-tel,
.conteiner1_register-pass,
.conteiner1_register-loc {
    margin-bottom: 5%;
    inline-size: 48%;
    display: flex;
    font-style: normal;
    flex-direction: column;
}


.conteiner1_register-pass_text {
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 16px;



    color: #A8A8A8;

}

.conteiner1_register-loc_option {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    padding-left: 1%;
    padding-top: 1.4%;


    color: #A8A8A8;

}

.conteiner1_register-btn {
    margin-bottom: 5%;
    box-sizing: border-box;
    display: flex;
    font-style: normal;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    margin-left: 1%;
    margin-top: 50%;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
}


.conteiner1_register-login{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
justify-content: center;


color: #C4C4C4;
flex-wrap: wrap;

}
.conteiner1_register-login1{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
text-decoration-line: underline;
color: #476D73;
padding-left: 20%;
}


.conteiner1_text {
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    
}

.conteiner1_text_header{
    display: flex;
    justify-content: end;
}
.conteiner1_text_header1{
    padding: 5% 3%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    flex-direction: row;

}
.conteiner1_text_header2{
    padding: 5% 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
}

.conteiner1_text_2{
    
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
justify-content: center;
display: flex;
padding-top: 40%;
padding-left: 10%;
color: #FFFFFF;

}



.conteiner1_text_3{
    justify-content: start;
display: flex;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 24px;
padding-left: 15%;


color: #FFFFFF;
}