body{
    margin: 0;
    background-color: beige;
}
h1{
    text-align: center;
}
table{
    text-align: center;
    background-color: white;
    width: 60%;
    margin: 2% auto;
    
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}