@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Rosario', sans-serif;
    background: #FFFFFF;
}

.conteiner_1,
.conteiner_2,
.conteiner_3,
.conteiner_4 {
    background-color: #FFFFFF;
    min-height: 100vh;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF
}

header {
    display: flex;
    position: sticky;
    background: #000000;
    max-height: 90px;
    top: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;


}

.header_logo {
    margin-top: 1.5%;
    max-width: 60%;
    background-color: #FFFFFF;


}

.conteiner_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.conteiner_menu_text {
    padding-left: 23px;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;

}





.conteiner_1_block {
    display: flex;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 7%;
    flex-direction: row;
    align-items: center;





}

.conteiner_1_block_img2,
.conteiner_1_block_img3 {
    display: flex;
    padding-top: 1%;
    max-width: 100%;
    position: relative;
    padding-left: 5%;
    left: -100vw;
    animation: img22 3s ease-in-out 1s forwards;
}


@keyframes img22 {
    100% {
        transform: translateX(100vw);
    }

}





.conteiner_1_block_img4,
.conteiner_1_block_img5 {
    display: flex;
    padding-top: 1%;
    max-width: 100%;
    position: relative;
    padding-left: 20%;

    left: 100vw;
    animation: img33 3s ease-in-out 1s forwards;
}


@keyframes img33 {
    100% {
        transform: translateX(-100vw);
    }


}


.conteiner_1_block_img1,
.conteiner_1_block_img6 {
    display: flex;
    max-width: 100%;

}

.conteiner_1_block_img1 {

    position: relative;
    left: -100vw;
    animation: img11 3s ease-in-out 2s forwards;
}


@keyframes img11 {
    100% {
        transform: translateX(100vw);
    }

}


.conteiner_1_block_img6 {
    padding-left: 30%;
    position: relative;
    left: 100vw;
    animation: img44 3s ease-in-out 2s forwards;
}

@keyframes img44 {
    100% {
        transform: translateX(-100vw);
    }

}




.conteiner_2 {
margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.conteiner_2_1_img-text {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 0%;


}





.conteiner_2_1_img-text_1 {
    animation: img101 5s ease-in-out forwards infinite;
}

@keyframes img101 {
    0% {
        transform: translateX(0%) translateY(0%);
    }

    25% {
        transform: translate(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateX(0%) translateY(100%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }

}

.conteiner_2_1_img-text_2 {
    animation: img102 5s ease-in-out forwards infinite;
}

@keyframes img102 {

    0% {
        transform: translateX(0%) translateY(0%);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateX(100%) translateY(-100%);
    }

    75% {
        transform: translateX(100%) translateY(0%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}


.conteiner_2_1_img-text_3 {
    animation: img103 5s ease-in-out forwards infinite;
}

@keyframes img103 {
    0% {
        transform: translateX(0%) translateY(0%);
    }

    25% {
        transform: translateY(100%) translateX(0%);
    }

    50% {
        transform: translateX(-100%) translateY(100%);
    }

    75% {
        transform: translateX(-100%) translateY(0%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}

.conteiner_2_1_img-text_4 {
    animation: img104 5s ease-in-out forwards infinite;
}

@keyframes img104 {
    0% {
        transform: translateX(0%) translateY(0%);
    }

    25% {
        transform: translateY(0%) translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        transform: translateX(0%) translateY(-100%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}





.conteiner_2_1_img-1,
.conteiner_2_1_img-2,
.conteiner_2_1_img-3,
.conteiner_2_1_img-4 {
    max-width: 80%;
    display: flex;
    justify-content: center;

}


.conteiner_2_1_text {
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    padding-bottom: 5%;
    padding-right: 20%;
}


.conteiner_2_2_img {
    display: flex;
    overflow: hidden;

}

.conteiner_2_2_img1 {

    margin-left: 20%;
}







.conteiner_3 {
    display: flex;
    flex-direction: column;

}

.conteiner_3_h1 {
    justify-content: center;
    margin: 3% 0%;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 116px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


.conteiner_3_img {
    display: flex;
    flex-direction: row;


}

.conteiner_3_1 {
    display: flex;
    justify-content: space-evenly;

}

.conteiner_3_img1 {
    max-width: 70%;
    margin-bottom: 1%;
    border-radius: 0 0 25px 25px;
}


.conteiner_3_img1_text1 {
    position: absolute;
    left: 15%;
    top: 79%;
    width: 70%;
    height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 25px 25px;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 62px;


    color: #FFFAFA;

}

.conteiner_3_1:hover .conteiner_3_img1_text1 {
    display: flex;
}

.conteiner_3_img:hover .conteiner_3_1 {
    filter: brightness(0.5);
}

.conteiner_3_1:hover {
    filter: brightness(1) !important;
}





.conteiner_4 {
    display: flex;
    flex-direction: column;

}

.conteiner_4_up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.conteiner_4_up_info {
    display: flex;
    flex-direction: column;
    max-width: 50%;

}

.conteiner_4_up_text {
    display: flex;
    margin-top: 10%;
    font-style: italic;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    text-align: left;

    color: #000000;

}

.conteiner_4_up_table {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

}

.conteiner_4_up_table_up {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5% 0%;
}

.conteiner_4_up_table_name,
.conteiner_4_up_table_email {
    padding: 4% 0;
}

.conteiner_4_up_table_message {
    padding: 1% 44% 9% 0%;
    display: flex;
    justify-content: center;
    margin: 0% 0% 2% 17%;

}


.conteiner_4_up_map {
    display: flex;
    width: 600px;
    height: 450px;
    margin-top: 12%;

}

.conteiner_4_down {
    display: flex;
    flex-direction: row;
    margin: 1.5%;
}

.conteiner_4_down_text1 {
    flex-direction: column;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #000000;
}

.conteiner_4_down_text1_email {
    color: #000000;
}

.conteiner_4_down_text1_email:hover {
    color: #000000;
}

.conteiner_4_down_text1_tel {
    color: #000000;
}

.conteiner_4_down_text1_tel:hover {
    color: #000000;
}

.conteiner_4_down_text2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 10%;


}

.conteiner_4_down_text2_h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

}

.conteiner_4_down_text2_2 {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #000000;
}

.conteiner_4_down_text3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.conteiner_4_down_text3_h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;

}

.conteiner_4_down_text3_soc {
    display: flex;
    flex-direction: column;
}

.conteiner_4_down_text3_soc1 {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #000000;
}

.conteiner_4_down_text3_soc1:hover {
    color: #000000;
}







@media screen and (max-width:1460px) {

    /* conteiner 1 (start)*/
    .conteiner_1 {

        min-height: 80vh;

    }

    .conteiner_1_block {
        display: flex;
        margin-top: 1%;

        flex-direction: row;
        align-items: center;



    }

    .conteiner_1_block_img2,
    .conteiner_1_block_img3 {
        display: flex;
        padding-top: 10%;
        padding-left: 10%;
        max-width: 90%;


    }



    .conteiner_1_block_img4,
    .conteiner_1_block_img5 {
        display: flex;
        padding-top: 10%;
        max-width: 90%;
        padding-left: 10%;
    }

    .conteiner_1_block_img1,
    .conteiner_1_block_img6 {
        display: flex;
        max-width: 90%;
        padding-left: 10%;
    }



    /*conteiner 1 (end)*/

    /*conteiner 2 start*/
    .conteiner_2 {
        min-height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .conteiner_2_1_img-text {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 0%;

    }

    .conteiner_2_1_text {
        font-style: italic;
        font-weight: 700;
        font-size: 28px;
        line-height: 58px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #000000;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .conteiner_2_1_img-1,
    .conteiner_2_1_img-2,
    .conteiner_2_1_img-3,
    .conteiner_2_1_img-4 {
        max-width: 70%;
        display: flex;
        justify-content: center;

    }

    .conteiner_2_2_img {
        display: flex;
        overflow: hidden;

    }

    .conteiner_2_2_img1 {
        max-width: 100%;
        margin-left: 20%;
    }

    /* conteiner 2 end*/


}


@media screen and (max-width:1024px) {

    /*header start*/
    header {
        display: flex;
        position: sticky;
        background: #000000;
        max-height: 97px;
        top: 0;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 1%;


    }

    .header_logo {

        background-color: #FFFFFF;
        width: 80%;

    }

    .conteiner_menu_text {
        padding-left: 23px;
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 44px;
    }

    /*header end*/



    /* conteiner 1 (start)*/
    .conteiner_1 {

        min-height: 70vh;
    }

    .conteiner_1_block {
        display: flex;




        margin-top: 1%;
        flex-direction: row;
        align-items: center;



    }

    .conteiner_1_block_img2,
    .conteiner_1_block_img3 {
        display: flex;
        padding-top: 10%;
        padding-left: 10%;
        max-width: 90%;


    }



    .conteiner_1_block_img4,
    .conteiner_1_block_img5 {
        display: flex;
        padding-top: 10%;
        max-width: 90%;
        padding-left: 10%;
    }

    .conteiner_1_block_img1,
    .conteiner_1_block_img6 {
        display: flex;
        max-width: 90%;
        padding-left: 10%;
    }

    /*conteiner 1 (end)*/


    /*conteiner 2 start*/
    .conteiner_2 {
        min-height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .conteiner_2_1_img-text {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 0%;

    }

    .conteiner_2_1_text {
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #000000;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .conteiner_2_1_img-1,
    .conteiner_2_1_img-2,
    .conteiner_2_1_img-3,
    .conteiner_2_1_img-4 {
        max-width: 60%;
        display: flex;
        justify-content: center;

    }

    .conteiner_2_2_img {
        display: flex;
        overflow: hidden;

    }

    .conteiner_2_2_img1 {
        max-width: 100%;
        margin-left: 20%;
    }

    /* conteiner 2 end*/

    /*conteiner 3 start*/
    .conteiner_3_img {
        display: flex;
        flex-direction: column;


    }

    .conteiner_3_1 {
        display: flex;
        justify-content: space-evenly;

    }

    .conteiner_3_img1 {
        max-width: 60%;
        margin-bottom: 1%;
    }


    .conteiner_3_img1_text1 {
        max-width: 40%;
        margin-left: 15%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(163, 83, 10, 0.7);
        border-radius: 0 0 40px 40px;
    }

    .conteiner_3_1:hover .conteiner_3_img1_text1 {
        display: flex;
    }

    .conteiner_3_img:hover .conteiner_3_1 {
        filter: brightness(0.5);
    }

    .conteiner_3_1:hover {
        filter: brightness(1) !important;
    }

    /*conteiner 3end */


    /*conteiner 4 start*/
    .conteiner_4 {
        display: flex;
        flex-direction: column;

    }

    .conteiner_4_up {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .conteiner_4_up_info {
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .conteiner_4_up_text {
        display: flex;
        margin-top: 10%;
        font-style: italic;
        font-weight: 700;
        font-size: 38px;
        line-height: 58px;
        text-align: left;

        color: #000000;

    }

    .conteiner_4_up_table {
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        margin-top: 5%;

    }

    .conteiner_4_up_table_up {
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5% 0%;
    }

    .conteiner_4_up_table_name,
    .conteiner_4_up_table_email {
        padding: 4% 0;
    }

    .conteiner_4_up_table_message {
        padding: 1% 44% 9% 0%;
        display: flex;
        justify-content: center;
        margin: 0% 0% 2% 12%;

    }


    .conteiner_4_up_map {
        display: flex;
        width: 520px;
        height: 450px;
        margin-top: 12%;

    }

    .conteiner_4_down {
        display: flex;
        flex-direction: row;
        margin: 1.5%;
    }

    .conteiner_4_down_text1 {
        flex-direction: column;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text1_email {
        color: #000000;
    }

    .conteiner_4_down_text1_email:hover {
        color: #000000;
    }

    .conteiner_4_down_text1_tel {
        color: #000000;
    }

    .conteiner_4_down_text1_tel:hover {
        color: #000000;
    }

    .conteiner_4_down_text2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0 10%;


    }

    .conteiner_4_down_text2_h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;

    }

    .conteiner_4_down_text2_2 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;

    }

    .conteiner_4_down_text3_soc {
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_soc1 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3_soc1:hover {
        color: #000000;
    }

    /*conteiner 4 end*/
}

@media screen and (max-width:768px) {

    /*header start*/
    header {
        display: flex;
        position: sticky;
        background: #000000;
        max-height: 73px;
        top: 0;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 1%;


    }

    .header_logo {

        background-color: #FFFFFF;
        width: 60%;

    }

    .conteiner_menu_text {
        padding-left: 23px;
        font-style: italic;
        font-weight: 700;
        font-size: 12px;
        line-height: 44px;
    }

    /*header end*/

    /* conteiner 1 (start)*/
    .conteiner_1 {

        min-height: 50vh;
    }

    .conteiner_1_block {
        display: flex;




        margin-top: 1%;
        flex-direction: row;
        align-items: center;



    }

    .conteiner_1_block_img2,
    .conteiner_1_block_img3 {
        display: flex;
        padding-top: 10%;
        padding-left: 10%;
        max-width: 70%;


    }



    .conteiner_1_block_img4,
    .conteiner_1_block_img5 {
        display: flex;
        padding-top: 10%;
        max-width: 70%;
        padding-left: 10%;
    }

    .conteiner_1_block_img1,
    .conteiner_1_block_img6 {
        display: flex;
        max-width: 70%;
        padding-left: 10%;
    }

    /*conteiner 1 (end)*/

    /*conteiner 2 start*/
    .conteiner_2_1_text {
        font-style: italic;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;

        justify-content: center;
        color: #000000;
        padding-bottom: 5%;
        padding-right: 15%;
    }

    .conteiner_2_1_img-1,
    .conteiner_2_1_img-2,
    .conteiner_2_1_img-3,
    .conteiner_2_1_img-4 {
        max-width: 70%;
        display: flex;

        justify-content: center;

    }

    .conteiner_2_2_img {
        display: flex;

    }

    .conteiner_2_2_img1 {
        display: flex;
        max-width: 100%;

        overflow: hidden;



    }

    /* conteiner 2 end*/


    /*conteiner3 start*/
    .conteiner_3_h1 {
        justify-content: center;
        margin: 5% 0%;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 116px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
    }

    .conteiner_3_img1 {
        max-width: 40%;
        margin-bottom: 1%;
    }

    /*conteiner 3 end*/

    /*conteiner 4 start*/
    .conteiner_4 {
        display: flex;
        flex-direction: column;

    }

    .conteiner_4_up {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .conteiner_4_up_info {
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .conteiner_4_up_text {
        display: flex;
        margin-top: 10%;
        font-style: italic;
        font-weight: 700;
        font-size: 28px;
        line-height: 58px;
        text-align: center;

        color: #000000;

    }

    .conteiner_4_up_table {
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        margin-top: 5%;

    }

    .conteiner_4_up_table_up {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5% 0%;
    }

    .conteiner_4_up_table_name,
    .conteiner_4_up_table_email {
        padding: 4% 0;
        margin-bottom: 2%;
    }

    .conteiner_4_up_table_message {
        padding: 1% 44% 9% 0%;
        display: flex;
        justify-content: center;
        margin: 0% 0% 2% 2%;

    }


    .conteiner_4_up_map {
        display: flex;
        width: 480px;
        height: 420px;
        margin-top: 12%;

    }

    .conteiner_4_down {
        display: flex;
        flex-direction: column;
        margin: 1.5%;
    }

    .conteiner_4_down_text1 {
        flex-direction: column;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text1_email {
        color: #000000;
    }

    .conteiner_4_down_text1_email:hover {
        color: #000000;
    }

    .conteiner_4_down_text1_tel {
        color: #000000;
    }

    .conteiner_4_down_text1_tel:hover {
        color: #000000;
    }

    .conteiner_4_down_text2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 5% 10%;


    }

    .conteiner_4_down_text2_h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;

    }

    .conteiner_4_down_text2_2 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;

    }

    .conteiner_4_down_text3_soc {
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_soc1 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3_soc1:hover {
        color: #000000;
    }

    /*conteiner 4 end*/
}

@media screen and (max-width:426px) {

    /*header start*/
    header {
        display: flex;
        position: sticky;
        background: #000000;
        max-height: 150px;
        top: 0;
        z-index: 1;
        flex-direction: column;

        padding-right: 18%;


    }

    .header_logo {
        display: flex;
        margin-top: 2%;
        background-color: #FFFFFF;
        width: 35%;

        margin: 2% 45%;

    }

    .conteiner_menu_text {

        padding-left: 15px;
        font-style: italic;
        font-weight: 700;
        font-size: 10px;
        line-height: 5px;
    }

    /*header end*/


    /* conteiner 1 (start)*/
    .conteiner_1 {

        min-height: 50vh;
    }

    .conteiner_1_block {
        display: flex;
        margin-top: 1%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1%;


    }

    .conteiner_1_block_img2,
    .conteiner_1_block_img3 {
        display: flex;
        padding-top: 10%;
        padding-left: 10%;
        max-width: 90%;


    }



    .conteiner_1_block_img4,
    .conteiner_1_block_img5 {
        display: flex;
        padding-top: 10%;
        max-width: 90%;
        padding-left: 10%;

    }

    .conteiner_1_block_img6 {
        padding-bottom: 2%;
        padding-top: 5%;
    }

    .conteiner_1_block_img1,
    .conteiner_1_block_img6 {
        display: flex;
        max-width: 90%;
        padding-left: 10%;
    }


    .conteiner_1_block_img1,
    .conteiner_1_block_img3,
    .conteiner_1_block_img5 {
        position: relative;
        left: -100vw;
        animation: img1 3s ease-in-out 1s forwards;
    }


    @keyframes img1 {
        100% {
            transform: translateX(100vw);
        }
    }

    .conteiner_1_block_img2,
    .conteiner_1_block_img4,
    .conteiner_1_block_img6 {
        position: relative;
        left: 100vw;
        animation: img44 3s ease-in-out 1s forwards;
    }

    @keyframes img44 {
        100% {
            transform: translateX(-100vw);
        }
    }

    /*conteiner 1 (end)*/



    /*conteiner 2 start*/
    .conteiner_2 {
        min-height: 50vh;
        display: flex;

        justify-content: center;

    }

    .conteiner_2_1_img-text {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: 5%;
        margin-bottom: 0%;

    }

    .conteiner_2_1_text {
        font-style: italic;
        font-weight: 700;
        font-size: 10px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #000000;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .conteiner_2_1_img-1,
    .conteiner_2_1_img-2,
    .conteiner_2_1_img-3,
    .conteiner_2_1_img-4 {
        max-width: 50%;
        display: flex;

        justify-content: center;

    }

    .conteiner_2_2_img {
        display: flex;

    }

    .conteiner_2_2_img1 {
        display: none;


    }

    /* conteiner 2 end*/

    /*conteiner3 start*/
    .conteiner_3_h1 {
        justify-content: center;
        margin: 5% 0%;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 116px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
    }

    .conteiner_3_img1_text1 {
        font-size: 20px;
    }

    /*conteiner 3 end*/

    /*conteiner 4 start*/
    .conteiner_4 {
        display: flex;
        flex-direction: column;

    }

    .conteiner_4_up {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .conteiner_4_up_info {
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .conteiner_4_up_text {
        display: flex;
        margin-top: 10%;
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;

    }

    .conteiner_4_up_table {
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        margin-top: 5%;

    }

    .conteiner_4_up_table_up {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5% 0%;
    }

    .conteiner_4_up_table_name,
    .conteiner_4_up_table_email {
        padding: 4% 0%;
        margin-bottom: 2%;
    }

    .conteiner_4_up_table_message {
        padding: 1% 16% 19% 0%;
        display: flex;
        justify-content: center;
        margin: 0% 0% 2% 2%;

    }


    .conteiner_4_up_map {
        display: flex;
        width: 250px;
        height: 420px;
        margin-top: 12%;

    }

    .conteiner_4_down {
        display: flex;
        flex-direction: column;
        margin: 1.5%;
    }

    .conteiner_4_down_text1 {
        flex-direction: column;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text1_email {
        color: #000000;
    }

    .conteiner_4_down_text1_email:hover {
        color: #000000;
    }

    .conteiner_4_down_text1_tel {
        color: #000000;
    }

    .conteiner_4_down_text1_tel:hover {
        color: #000000;
    }

    .conteiner_4_down_text2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 5% 10%;


    }

    .conteiner_4_down_text2_h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;

    }

    .conteiner_4_down_text2_2 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;

    }

    .conteiner_4_down_text3_soc {
        display: flex;
        flex-direction: column;
    }

    .conteiner_4_down_text3_soc1 {
        justify-content: center;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        color: #000000;
    }

    .conteiner_4_down_text3_soc1:hover {
        color: #000000;
    }

    /*conteiner 4 end*/

}

@media screen and (max-width:320px) {

    /*header start*/
    header {
        display: flex;
        position: sticky;
        background: #000000;
        max-height: 150px;
        top: 0;
        z-index: 1;
        flex-direction: column;

        padding-right: 18%;


    }

    .header_logo {
        display: flex;
        margin-top: 2%;
        background-color: #FFFFFF;
        width: 30%;

        margin: 2% 45%;

    }

    .conteiner_menu_text {

        padding-left: 5px;
        font-style: italic;
        font-weight: 700;
        font-size: 8px;
        line-height: 5px;
    }

    /*header end*/
}