.page {

    min-height: 1000px;
    max-height: 1700px;
}


.header {

    padding: 31px;
    min-height: 50px;
    max-height: 103px;
    background-color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 400;

}

.header-span1 {
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
}

.header-span2 {
    font-family: 'Marcellus', serif;
    color: #E8C23E;
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 803px;
    background-image: url(./img/image\ 1.png);
}

.content {
    box-sizing: border-box;
    position: absolute;
    width: 1036px;
    height: 439px;
    left: 118px;
    top: 305px;

    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;

}

.Rectangle1 {
    position: absolute;
    width: 22px;
    height: 136px;
    left: 80px;
    top: 316px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1E8DF2;
}

.Rectangle2 {
    position: absolute;
    width: 22px;
    height: 136px;
    left: 80px;
    top: 452px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FBE201;

}

.main {
    padding: 0 80px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 30%;
    display: inline-block;

}

.card__img {
    width: 100%;
}

.card__title {
    padding: 10px;
    color: #1E8DF2;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
}

.card__subtitle {
    padding: 10px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;

}

.card_2 {
    margin: 0 4.5%;
    width: 30%;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card__img2 {
    width: 100%;
}

.card__title2 {
    padding: 10px;
    color: #1E8DF2;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
}

.card__subtitle2 {
    padding: 10px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
}

.h1 {
    margin: 25px;

    padding-block-start: 865px;
    margin: 20px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inika', serif;
    color: #000000;

}

.line {
    padding-bottom: 25px;
    width: 402px;
    top: 1073px;
    border-bottom: 5px solid #3E45E8;
}

.h1_1 {
    text-align: center;
    padding: 120px;
    height: 63px;
    left: 430px;
    top: 1661px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
}

.line_1 {
    margin: 0px 350px;
    padding-bottom: 25px;
    width: 402px;
    top: 1073px;
    border-bottom: 5px solid #3E45E8;
}

.img3 {
    text-align: center;
}

.tach {

    font-family: 'Inika', serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 101px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

.knopka {
    margin: 21px 580px;
    background-color: #2A61F0;
    width: 525px;
    left: 418px;
    top: 2364px;
}

.end {
    background-color: #2F4A4B;
    background-size: cover;
    height: 320px;


}

.end-text {
    margin: 0px;
    padding: 0px 0px 0px 150px;
    min-height: 50px;
    max-height: 103px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;


}

.end-span1 {
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
}

.end-span2 {
    font-family: 'Marcellus', serif;
    color: #E8C23E;
}

.email {
    font-family: 'Marcellus SC', serif;
    color: #A89D9D;
}

.tel {
    font-family: 'Marcellus SC', serif;
    color: #A89D9D;
}

.elips {
    border-radius: 30px;
    width: 30%;
    display: inline-flex;
    padding: 0px 0px 0px 180px;

}
