body{
    margin: 0;
    background-color: #8ea693;
   
}

.page{
    border: 1px solid #111; 
    width: 805px;
    height: 805px; 
    margin: 0 auto;
    position: relative;
    z-index: -1;
    bottom: 350px;
  

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
 border: 3px solid #fb0a0a;
    width: 800px;
    height: 200px;
}
.content{
    display: flex;
    flex-direction: row;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;

 border: 3px solid #fb660a;
    width: 100px;
    height: 400px;
}
.section{
    
    background-color: #fff;
 border: 3px solid #fb660a;
    width: 700px;
    height: 400px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
 border: 3px solid #949291;
    width: 800px;
    height: 200px; 
}
