body {
    width: 100%;
    margin: 0;
    background: grey;
}

.page {
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF
}

.knopka {
    color: #F6AD09;
}

.conteiner1 {
    margin: 0 auto;
    width: 100%;
    height: 750px;
    display: flex;
    background: #000000;
    flex-direction: column;
}


header {

    display: flex;
    justify-content: flex-start;
    height: 90px;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;

}

.header__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
}

.menu {
    font-family: 'Poppins';
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 32px;
    color: #fff;
    list-style: none;
}

li {
    margin: 0 0 0 20px;
}


.conteiner1_block2 {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;


}

.conteiner1_block2_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 25px 0 188px;
    justify-content: center;


}

.conteiner1_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    color: #fff;

}


.conteiner1_title_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 22px;
    color: #B2B2B2;
    margin-top: 10%;
}

.conteiner1_block2_btn {
    display: flex;
    background-color: #F6AD09;
    border-radius: 5px;
    width: 220px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #332200;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.conteiner1_block2_btn:hover{
    color: #332200;
}


.conteiner1_img {
    z-index: 1;
    display: flex;
    border-radius: 5px;
    width: 80%;
    overflow: hidden;
}












.conteiner2 {
   
    background-color: #fff;
  
    padding-top: 10%;

}

.conteiner2_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 72px;
    display: flex;
    margin: 0 12.5%;
}

.conteiner2_block {
    display: flex;
    width: 90%;
    margin: 0 auto;

}



.conteiner2_block_img1,
.conteiner2_block_img2,
.conteiner2_block_img3 {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;

}

.conteiner2_block_title {
    margin: 0 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #111111;
}

.conteiner2_block_text {
    margin: 0 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: #595959;
}

.conteiner2_block_title::before {
    content: url(./img/Rectangle\ 57.png);
    padding: 0 2% 0 0;
}






.conteiner3 {
    display: flex;
    
    background-color: #FFFFFF;
    margin-bottom: -5%;

}

.conteiner3_1 {
    width: 100%;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    margin-top: 15%;
    background-color: #111111;
    margin-bottom: 15%;
}

.conteiner3_text {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50%;
    margin-left: 200px;
    margin-right: 60px;
    margin-top: 40px;
    align-self: center;

}

.conteiner3_text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    display: flex;


    letter-spacing: 0.015em;
    text-transform: uppercase;



    color: #B2B2B2;
}

.conteiner3_text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    margin-top: 5%;
    line-height: 40px;

    color: #FFFFFF;

}

.conteiner3_text3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 20px;
    margin-top: 10%;

    color: #B2B2B2;

}

.conteiner3_text4 {
    border-bottom: 3px solid #FFBB00;
    width: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10%;
    display: flex;
    color: #FFBB00;
    justify-content: center;
}

.conteiner3_text5-6 {
    display: flex;
    flex-direction: row;

}


.conteiner3_text5-6_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15%;
    margin-right: 20%;

    color: #FFFFFF;
}

.conteiner3_text5-6_title::before {
    content: url(./img/Rectangle\ 57.png);
    padding: 0 2% 0 0;

}

.conteiner3_text5-6_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #B2B2B2;
    margin-right: 20%;

}

.conteiner3_img {
    display: flex;
    border-radius: 5px;
    width: 50%;
    overflow: hidden;
    margin: -60px 200px -60px 0;
}





.conteiner4 {
    display: flex;
    
    background-color: #FFFFFF;
    
    flex-direction: column;
}

.conteiner4_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 72px;
    display: flex;
    margin: 0 12.5%;

}

.conteiner4_block2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;
}

.conteiner4_block2>img {
    border: 2px solid #E0E0E0;
    display: flex;
    padding: 34px 85px;
    width: 10%;
    margin: 5px auto;

}



.conteiner5 {
    display: flex;
    flex-direction: row;
    
    background-color: #FFFFFF;
}

.conteiner5_img {
    width: 45%;
}

.conteiner5_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFBB00;

}

.conteiner5_text1 {
    margin-left: 10%;
    margin-right: 35%;
    margin-top: 15%;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;

    color: #332200;
}
.conteiner5_text1:before{
    content: open-quote;

}
.conteiner5_text1:after {
    content: close-quote;
}

.conteiner5_text1:before, .conteiner5_text1:after{
    color: #b58501;

}

.conteiner5_text2 {
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;


    color: #664400;

}



.conteiner6 {
   
    background: #161616;
}

.conteiner6_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    color: #fff;
    display: flex;
    margin: 0px 12.5%;
    padding-top: 40px;
    padding-bottom: 70px;
}


.conteiner6_block2_1-2 {
    padding-bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}


.conteiner6_block2_1 {
    margin-right: 10%;
    
}


.conteiner6_block2_1,
.conteiner6_block2_2 {
    background: #000000;
    border-radius: 7px;
    color: #E0E0E0;
    width: 26%;

}


.conteiner6_block2_1:hover{
    width: 30%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    transition: all .5s;
    
}
.conteiner6_block2_2:hover{
    width: 30%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    transition: all .5s;
    
}

.conteiner6_block2_1_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
}

.conteiner6_block2_1_title1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #9C9C9C;
}


.conteiner6_block2_1_title1:hover{
    color: #F6AD09;
}


.conteiner6_block2_1_title2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;


    color: #FFFFFF;
}

.conteiner6_block2_1_title_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 16px;
    color: #9C9C9C;
    display: flex;
    justify-content: end;
}

.conteiner6_block2_1_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    padding: 30px 15px 10px 15px;
    color: #FFFFFF;

}

.conteiner6_block2_1_text>div:before {
    content: url(./img/Rectangle\ 3.png);
    padding: 0% 2% 0% 0;

    
}

.conteiner6_block2_1_knopka1-1 {
    display: flex;
    padding: 10px 10px;
    background: #2E2E2E;
    border-radius: 5px;
    width: 60%;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
    margin: 60px 0 20px 30px;
}

.conteiner6_block2_1_knopka2{
    display: flex;
    padding: 10px 10px;
    background: #2E2E2E;
    border-radius: 5px;
    width: 60%;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
    margin: 10px 0 20px 30px;
}




.conteiner7{
    background: #000000;
    
    display: flex;
    flex-direction: column;
}
.conteiner7_block1{
    display: flex;
    padding-top: 5%;
    justify-content: space-evenly;
}
.conteiner7_block1_text-left{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    
    color: #FFFFFF;
}
.conteiner7_block1_text-center{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}
.conteiner7_block1_text-center-text1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.015em;
text-transform: uppercase;

color: #FFFFFF;
}


.conteiner7_block1_text-center-text2, .conteiner7_block1_text-center-text3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;
letter-spacing: 0.015em;


color: #B2B2B2;

}


.conteiner7_block1_text-center-text2{
    display: flex;
    flex-direction: column;
}
.conteiner7_tel{
    color: #B2B2B2;
}
.conteiner7_email{
    color: #B2B2B2;
}
.conteiner7_tel:hover{color: #B2B2B2;}
.conteiner7_email:hover{
    color: #B2B2B2;
}

.conteiner7_block1_text-center-text3{
    padding-right: 40%;
}
.conteiner7_img{
    display: flex;
    flex-direction: row;
    
}
.conteiner7_img >a {
    margin-right: 10%;
    margin-top: 5%;
}
.conteiner7_img3{
    padding-top: 15%;
}
.conteiner7_block1_text-right{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}
.conteiner7_block1_text-left-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    padding-bottom: 5%;
    color: #FFFFFF;
}
.conteiner7_block1_text-left-text2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 26px;


letter-spacing: 0.015em;
    color: #B2B2B2;
}

.conteiner7_block1_text-left-text2 >a:hover{
color: #FFBB00;
}
.conteiner7_end{
    display: flex;
    margin: 2% 12.5%;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;


letter-spacing: 0.015em;

color: #9C9C9C;
}

