html {
    font-size: 10px;
}

.body {
    margin: 0 auto;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    background: #DCDCDC;
    font-weight: 400;


}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #AEAEE2;
}


.page {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}


.header {
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #202846;
    flex-direction: row;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header__logo {
    max-width: 60%;
    padding: 10px 0px 10px 10px;
}


.header_list {


    display: flex;
    list-style: none;



}

.header_link {
    color: white;
    align-items: center;
    display: flex;
    padding: 0px 20px 0px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    font-size: 18px;
}

.header_link_img {
    max-width: 70%;
}


.main {
    background: #DCDCDC;

}

.h1 {
    align-items: center;
    background: #C6C6DC;
    display: flex;
    height: 140px;
}


.text_h1 {
    padding: 0px 0px 0px 27px;

    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;

    color: #202846;
}

.main {
    width: 80%;
    margin-left: 10%;
}

.h2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #E8E8E8;
    margin: 54px 0;
    box-sizing: border-box;
    justify-content: space-around;
}

.text_h2 {

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    width: 80%;

    color: rgba(0, 0, 0, 0.61);

}

.img_h2 {
    max-width: 3%;
}








.build {
    width: 80%;
    margin: 0 auto;
}


.card {
    max-width: 100%;
    background: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 36px;
}

.card:hover {
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card_img1 {
    display: flex;
    padding: 1% 1%;
    max-width: 45%;



}


.card_content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}

.card_content-title {
    text-align: left;
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #353C57;

}

.card__content-text {
    font-size: 1.5rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
    color: #202846;

}








.content-card-star {

    display: flex;
    justify-content: end;
    align-self: flex-start;
    padding: 5px;
    position: absolute;
    margin-left: 58%;
}

.content-card-star>svg>path:hover:hover {
    fill: yellow;
}

.card-btn1 {
    display: flex;
    justify-content: end;
    align-self: flex-end;

    width: 130px;
    background-color: #202846;
    border-radius: 50px;
    position: absolute;
    margin-left: 60%;
}

.card-btn1-text:hover {
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #EF075B;
}

.card-btn1-text {
    font-size: 20px;
    text-align: center;
    padding: 1rem 15px;
    color: #FFFFFF;
}



.page2-header_2 {
    width: 100%;
    align-items: center;
    background: #C6C6DC;
    display: flex;
    height: 140px;
    margin-top: 267px;
    width: 100%;
    margin-bottom: 46px;
}

.page2-header_2-text {


    padding: 0px 0px 0px 27px;

    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 62px;
    display: flex;
    align-items: center;

    color: #202846;

}





.page2-content {
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    margin: 2% auto;
    width: 60%;
}

.page2-content-bloc1 {
    display: flex;
    flex-direction: column;
    margin: 6% 0;

}

.page2-img {
    display: flex;
    max-width: 100%;
    
}

.page2-btn1 {
    display: flex;
    background: #484A54;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    
    line-height: 31px;
    align-items: center;
    padding: 0 15px;
    color: #FFFFFF;

}



.page2-btn2 {
    display: flex;
    background: #484A54;
    
    text-align: center;
    border-radius: 50px;
    margin-top: 22px;
    padding: 0 15px;
    color: #FFFFFF;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}


.page2-btn2:hover {
    color: #FFFFFF;
    background-color: #69749B;
}

.page2-btn1:hover {
    color: #FFFFFF;
    background-color: #69749B;
}

.page2-text>div {
    border-bottom: 3px solid white;
    padding: 2%;
}

.page2-text>div>span {
    font-weight: 400;
}

.page2-text {
    color: #353C57;
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    margin: 7% 0;
    width: 60%;
}




.page2-text4-tel {
    font-weight: 400;
    font-size: 36px;
    color: #353C57;
}

.page2-text4-mail {
    font-weight: 400;
    font-size: 36px;
    color: #353C57;
}

.page2-text4-tel:hover {
    color: #353C57;
}

.page2-text4-mail:hover {
    color: #353C57;
}

.page2-btn3 {
    color: white;
    font-weight: 400;
    font-size: 2.7rem;
    background-color: #202846;
    border-radius: 50px;
    text-align: center;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 7%;
    padding: 0.5%;
}






.page3-header_3 {
    width: 100%;
    align-items: center;
    background: #C6C6DC;
    display: flex;
    height: 140px;
    margin-top: 267px;
    width: 100%;
    margin-bottom: 46px;
}

.page3-header_3-text {


    padding: 0px 0px 0px 27px;

    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;

    color: #202846;

}


.page3-block-up {
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 16%;
}

.page3-text1 {

    border-bottom: 3px solid #202846;

}

.page3-text1-tel {
    color: #000000;
    margin-top: 4%;
}

.page3-text1-tel:hover {
    color: #000000;
}

.page3-text2 {

    border-bottom: 3px solid #202846;
}

.page3-text2_1 {

    margin-top: 4%;

}

.page3-text3 {

    border-bottom: 3px solid #202846;
}

.page3-text3-mail {
    color: #000000;
    margin-top: 4%;
}

.page3-text3-mail:hover {
    color: #000000;
}

.page3-block-down {
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 16%;
}

.page3-text4 {

    border-bottom: 3px solid #202846;
}

.page3-text4_1 {


    margin-top: 4%;
    color: #000000;
}

.page3-maps {
display: flex;
    border-radius: 40px;
    border: 3px solid rgba(0, 0, 0, 0.05);
    width: 577.28px;
    height: 335px;
}

.btn2 {
    display: flex;
    position: absolute;
    
   
    margin: -5% 0% 0% 85%;
}



.img_btn2 {
    display: flex;
    padding: 50% 60%;
    background-color: #555768;
    border-radius: 50%;
    margin-top: -50%;
    
}




.footer-end {
    height: 90px;
    background-color: #202846;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: start;
    color: #EEECF1;
    align-items: center;
    display: flex;
}





@media screen and (max-width: 1017px) {
    .header_link {
        font-size: 14px;

    }

    .text_h1 {
        padding: 0px 0px 0px 27px;

        font-style: italic;
        font-weight: 400;
        font-size: 38px;
        line-height: 62px;
        display: flex;
        align-items: center;

        color: #202846;
    }

    .h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .text_h2 {

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        width: 80%;

        color: rgba(0, 0, 0, 0.61);

    }

    .card {
        max-width: 100%;
        background: #BDBDC6;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 36px;

    }

    .content-card-star {

        display: flex;
        margin: 0px 0px 30% 50%;
        padding: 5px;


    }

    .card-btn1 {
        display: flex;
        justify-content: end;
        align-self: flex-end;
        width: 130px;
        background-color: #202846;
        border-radius: 50px;

        margin-right: 0%;
        margin-top: 30%;
    }

    .card_content-title {
        text-align: left;
        font-weight: 700;
        font-style: italic;
        border-bottom: 3px solid white;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #353C57;

    }

    .card__content-text {
        font-size: 1.3rem;
        text-align: center;
        background-color: #D7D7DD;
        padding: 2.2rem;
        color: #202846;

    }

    .page2-header_2-text {


        padding: 0px 0px 0px 27px;

        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 62px;
        display: flex;
        align-items: center;

        color: #202846;

    }

    .page2-text {
        color: #353C57;
        font-size: 3rem;
        font-weight: 700;
        font-style: italic;
        margin: 7% 0;
        width: 60%;
    }

    .page2-text4-tel {
        font-weight: 400;
        font-size: 26px;
        color: #353C57;
    }

    .page2-text4-mail {
        font-weight: 400;
        font-size: 26px;
        color: #353C57;
    }

    .page2-btn3 {
        display: flex;
        color: white;
        font-weight: 400;
        font-size: 1.5rem;
        background-color: #202846;
        border-radius: 50px;
        text-align: center;
        width: 10%;
        justify-content: center;
        margin-bottom: 7%;
        padding: 0.5%;
    }

    .page2-btn1 {
        display: flex;
        background: #484A54;
       max-width: 70%;
        border-radius: 30px;
        margin-top: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
justify-content: center;
        line-height: 31px;
        margin-left: 10px;
       
        color: #FFFFFF;
    
    }
    
    
    
    .page2-btn2 {
        display: flex;
        background: #484A54;
       max-width: 70%;
        border-radius: 30px;
        margin-top: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
justify-content: center;
        line-height: 31px;
        margin-left: 10px;
       
        color: #FFFFFF;
    }
    .page3-block-up {
        font-weight: 400;
        font-size: 2.7rem;
        display: flex;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
    .page3-header_3-text {


        padding: 0px 0px 0px 27px;
    
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 62px;
        display: flex;
        align-items: center;
    
        color: #202846;
    
    }
    .page3-block-down {
        font-weight: 400;
        font-size: 2.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
    .footer-end {
        height: 90px;
        background-color: #202846;
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 47px;
        text-align: start;
        color: #EEECF1;
        align-items: center;
        display: flex;
    }
}





@media screen and (max-width: 900px) {
    .header_link {
        font-size: 12px;

    }

    .text_h1 {
        padding: 0px 0px 0px 27px;

        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 62px;
        display: flex;
        align-items: center;

        color: #202846;
    }

    .card-btn1 {
        display: flex;
        justify-content: end;
        align-self: flex-end;
        width: 100px;
        background-color: #202846;
        border-radius: 50px;

        margin-right: 0%;
        margin-top: 30%;
    }

    .card-btn1-text {
        font-size: 14px;
        text-align: center;
        padding: 1rem 15px;
        color: #FFFFFF;
    }

    .card__content-text {
        font-size: 1.1rem;
        text-align: center;
        background-color: #D7D7DD;
        padding: 2.2rem;
        color: #202846;

    }

    .page2-text {
        color: #353C57;
        font-size: 2.6rem;
        font-weight: 700;
        font-style: italic;
        margin: 7% 0;
        width: 60%;
    }
    .page3-block-up {
        font-weight: 400;
        font-size: 2.2rem;
        display: flex;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
    .page3-block-down {
        font-weight: 400;
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
}

@media screen and (max-width: 820px) {
    .header {
        max-width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #202846;
        max-height: 180px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }

    .header__logo {
        max-width: 60%;
        padding: 10px 0px 10px 10px;
    }

    .header__logo_a {
        padding-left: 35px;
        margin: 0px;
    }


    .header_list {


        display: flex;
        list-style: none;
        flex-direction: column;




    }

    .header_link {
        color: white;
        margin-right: 30%;

        display: flex;
        padding: 0px 0px 0px 0px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        font-size: 12px;
    }

    .header_link_img {

        max-width: 60%;
        padding: 10px 0px 10px 10px;
    }

    .card-btn1 {
        display: flex;
        justify-content: end;
        align-self: flex-end;
        width: 80px;
        background-color: #202846;
        border-radius: 50px;

        margin-right: 0%;
        margin-top: 30%;
    }

    .card-btn1-text {
        font-size: 11px;
        text-align: center;
        padding: 1rem 15px;
        color: #FFFFFF;
    }

    .card__content-text {
        font-size: 1rem;
        text-align: center;
        background-color: #D7D7DD;
        padding: 2.2rem;
        color: #202846;

    }

    .page2-text {
        color: #353C57;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;
        margin: 7% 0;
        width: 60%;
    }

    .page2-text4-tel {
        font-weight: 400;
        font-size: 16px;
        color: #353C57;
    }

    .page2-text4-mail {
        font-weight: 400;
        font-size: 16px;
        color: #353C57;
    }
    .page2-img {
        display: flex;
        max-width: 70%;
        padding: 0 10px;
        
    }
    .page3-block-up {
        font-weight: 400;
        font-size: 1.7rem;
        display: flex;
        padding: 0% 5%;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
    .page3-block-down {
        font-weight: 400;
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5% 16%;
    }
    .page3-maps {
        display: flex;
            border-radius: 40px;
            border: 3px solid rgba(0, 0, 0, 0.05);
            width: 377.28px;
            height: 135px;
        }
}