@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    max-height: 100vh;
    margin: 0;
    background-color: #FFB084;
}

section{
    grid-template-columns: 30% 30% 30%;
    display: grid;
    margin: 2% auto;
    width: 80%;
    gap: 5% 5%;
    
 }


section div{
    background-color: #ffffff;
    
  
}

.conteiner_1{
    
    border-radius: 40px 40px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 10px 5px 5px black;
   
    
}
.conteiner_1_h1{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
margin-top: 5%;
}
.conteiner_1_img{
    margin: 5% 35%;
}
.conteiner_1_text{
    text-align: left;
    margin-left: 18%;
    margin-bottom: 5%;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;

color: #000000;
}

.conteiner_1_text1{
    margin-left: 5%;
    font-weight: 600;
}



.conteiner_2{
    border-radius: 40px 40px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 10px 5px 5px black;
    
}
.conteiner_2_h2{
margin: 5% 5% 0% 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    
    color: #000000;
}
.conteiner_2_text{
    margin: 0% 5% 5% 5%;
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;

color: #000000;
}


.conteiner_3{
    border-radius: 40px 40px;
    display: grid;
    max-height: 70%;
    box-shadow: 10px 5px 5px #29A71E;
}

.conteiner_3_h2{
    margin: 10% 5% 0% 10%;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 16px;

color: #29A71E;

}
.conteiner_3_text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    
    color: #000000;
    margin: 0% 5% 5% 10%;
}

.conteiner_4{
    display: grid;
    border-radius: 40px 40px;
    box-shadow: 10px 5px 5px #E13535;
}
.conteiner_4_h2{
    margin: 10% 5% 0% 10%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    
    color: #E13535;
    
}
.conteiner_4_text{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin: 10% 5% 10% 10%;
color: #000000;

}


.conteiner_5{ 
    border-radius: 40px 40px;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
color: #000000;
text-align: center;
padding: 2% 5%;
max-height: 45%;
box-shadow: 10px 5px 5px black;
}


.conteiner_6{
    display: grid;
    border-radius: 40px 40px;
    margin-top: -20%;
    box-shadow: 10px 5px 5px #3675B0;
}
.conteiner_6_h2{
    margin: 10% 5% 0% 10%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    
    color: #3675B0;
    
}
.conteiner_6_text{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin: 5% 5% 10% 10%;
color: #000000;

}

.conteiner_7{
    display: grid;
    border-radius: 40px 40px;
    box-shadow: 10px 5px 5px black;
}
.conteiner_7_h2{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 16px;
margin: 10% 5% 0% 10%;
color: #000000;
}
.conteiner_7_text{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin: 5% 5% 10% 10%;
color: #000000;

}


@media screen and (max-width:1124px){
    .conteiner_1{
    
        border-radius: 40px 40px;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        box-shadow: 10px 5px 5px black;
       
        
    }
    .conteiner_1_h1{
        font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: 5%;
    }
    .conteiner_1_img{
        margin: 5% 30%;
    }
    .conteiner_1_text{
        text-align: left;
        margin-left: 1%;
        margin-bottom: 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #000000;
    }
    
    .conteiner_1_text1{
        margin-left: 5%;
        font-weight: 600;
    }
    
    
    
    .conteiner_2{
        border-radius: 40px 40px;
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        box-shadow: 10px 5px 5px black;
        
    }
    .conteiner_2_h2{
    margin: 5% 5% 0% 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        
        color: #000000;
    }
    .conteiner_2_text{
        margin: 0% 5% 5% 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #000000;
    }
    
    
    .conteiner_3{
        border-radius: 40px 40px;
        display: grid;
        max-height: 70%;
        box-shadow: 10px 5px 5px #29A71E;
    }
    
    .conteiner_3_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    
    color: #29A71E;
    
    }
    .conteiner_3_text{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        
        color: #000000;
        margin: 0% 5% 5% 10%;
    }
    
    .conteiner_4{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px #E13535;
    }
    .conteiner_4_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        
        color: #E13535;
        
    }
    .conteiner_4_text{
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 10% 5% 10% 10%;
    color: #000000;
    
    }
    
    
    .conteiner_5{ 
        border-radius: 40px 40px;
        font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    padding: 2% 5%;
    
    box-shadow: 10px 5px 5px black;
    }
    
    
    .conteiner_6{
        display: grid;
        border-radius: 40px 40px;
        margin-top: -20%;
        box-shadow: 10px 5px 5px #3675B0;
    }
    .conteiner_6_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        
        color: #3675B0;
        
    }
    .conteiner_6_text{
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 5% 5% 10% 10%;
    color: #000000;
    
    }
    
    .conteiner_7{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px black;
    }
    .conteiner_7_h2{
        font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    margin: 10% 5% 0% 10%;
    color: #000000;
    }
    .conteiner_7_text{
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 5% 5% 10% 10%;
    color: #000000;
    
    }  
}
@media screen and (max-width:768px){
    .conteiner_1{
    
        border-radius: 40px 40px;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        box-shadow: 10px 5px 5px black;
       
        
    }
    .conteiner_1_h1{
        font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    margin-top: 5%;
    }
    .conteiner_1_img{
        margin: 5% 20%;
    }
    .conteiner_1_text{
        text-align: left;
       
        margin-bottom: 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    
    color: #000000;
    }
    
    .conteiner_1_text1{
        margin-left: 5%;
        font-weight: 600;
    }
    
    
    
    .conteiner_2{
        border-radius: 40px 40px;
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        box-shadow: 10px 5px 5px black;
        
    }
    .conteiner_2_h2{
    margin: 5% 5% 0% 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 12px;
        
        color: #000000;
    }
    .conteiner_2_text{
        margin: 0% 5% 5% 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    
    color: #000000;
    }
    
    
    .conteiner_3{
        border-radius: 40px 40px;
        display: grid;
        max-height: 70%;
        box-shadow: 10px 5px 5px #29A71E;
    }
    
    .conteiner_3_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    
    color: #29A71E;
    
    }
    .conteiner_3_text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        
        color: #000000;
        margin: 0% 5% 5% 10%;
    }
    
    .conteiner_4{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px #E13535;
    }
    .conteiner_4_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        
        color: #E13535;
        
    }
    .conteiner_4_text{
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 10% 5% 10% 10%;
    color: #000000;
    
    }
    
    
    .conteiner_5{ 
        border-radius: 40px 40px;
        font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding: 2% 5%;
    
    box-shadow: 10px 5px 5px black;
    }
    
    
    .conteiner_6{
        display: grid;
        border-radius: 40px 40px;
        margin-top: -20%;
        box-shadow: 10px 5px 5px #3675B0;
    }
    .conteiner_6_h2{
        margin: 10% 5% 0% 10%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        
        color: #3675B0;
        
    }
    .conteiner_6_text{
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 5% 5% 10% 10%;
    color: #000000;
    
    }
    
    .conteiner_7{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px black;
    }
    .conteiner_7_h2{
        font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 10% 5% 0% 10%;
    color: #000000;
    }
    .conteiner_7_text{
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 5% 5% 10% 10%;
    color: #000000;
    
    }  
}
@media screen and (max-width:425px){
    .conteiner_1{
    
        border-radius: 40px 40px;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        box-shadow: 10px 5px 5px black;
       
        
    }
    .conteiner_1_h1{
        font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin-top: 20%;
    }
    .conteiner_1_img{
        margin: 5% 0%;
    }
    .conteiner_1_text{
        text-align: left;
       
        margin-bottom: 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    
    color: #000000;
    }
    
    .conteiner_1_text1{
        margin-left: 5%;
        font-weight: 600;
    }
    
    
    
    .conteiner_2{
        border-radius: 40px 40px;
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        box-shadow: 10px 5px 5px black;
        
    }
    .conteiner_2_h2{
    margin: 5% 5% 0% 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        
        color: #000000;
    }
    .conteiner_2_text{
        margin: 0% 5% 5% 5%;
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
    }
    
    
    .conteiner_3{
        border-radius: 40px 40px;
        display: grid;
        max-height: 70%;
        box-shadow: 10px 5px 5px #29A71E;
    }
    
    .conteiner_3_h2{
        margin: 20% 5% 0% 5%;
        font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    
    color: #29A71E;
    
    }
    .conteiner_3_text{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        
        color: #000000;
        margin: 0% 0% 5% 0%;
    }
    
    .conteiner_4{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px #E13535;
    }
    .conteiner_4_h2{
        margin: 20% 20% 0% 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        
        color: #E13535;
        
    }
    .conteiner_4_text{
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 10% 10% 10% 0%;
    color: #000000;
    
    }
    
    
    .conteiner_5{ 
        border-radius: 40px 40px;
        font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    padding: 5% 5%;
    
    box-shadow: 10px 5px 5px black;
    }
    
    
    .conteiner_6{
        display: grid;
        border-radius: 40px 40px;
        margin-top: -20%;
        box-shadow: 10px 5px 5px #3675B0;
    }
    .conteiner_6_h2{
        margin: 20% 10% 0% 10%;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        
        color: #3675B0;
        
    }
    .conteiner_6_text{
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 5% 15% 10% 0%;
    color: #000000;
    
    }
    
    .conteiner_7{
        display: grid;
        border-radius: 40px 40px;
        box-shadow: 10px 5px 5px black;
    }
    .conteiner_7_h2{
        font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin: 20% 5% 0% 10%;
    color: #000000;
    }
    .conteiner_7_text{
        font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 5% 15% 10% 15%;
    color: #000000;
    
    }    
}